/node_modules
/hot
/storage/*.key
/vendor
/uploads
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/*.pem
/*.rnd
/*.lock
/*.rnd
/*.zip
/*.sql
/*.rar

